// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shell-primary: mat.define-palette(mat.$blue-grey-palette);
$shell-accent: mat.define-palette(mat.$deep-orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$shell-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$shell-theme: mat.define-light-theme((
  color: (
    primary: $shell-primary,
    accent: $shell-accent,
    warn: $shell-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($shell-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    min-height: 100vh;
}
body {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #eeeeee;
}

.max-width-container-wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;
}
.max-width-container {
    width: 100%;
    padding: 2rem !important;
    max-width: 1400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
}

.smth-shadow {
    box-shadow: 0 3.2px 4.2px rgba(0, 0, 0, 0.035), 0 8.8px 11.6px rgba(0, 0, 0, 0.05),
        0 21.1px 28px rgba(0, 0, 0, 0.065), 0 70px 93px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

@media (max-width: 1000px) {
    .custom-button {
        padding: 0.5rem !important;
    }
    .max-width-container {
        padding: 1rem !important;
    }
}