<div class="signup-wrap">
    <div class="signup-card col-md-10">
        <div class="signup-card-image"></div>
        <form [formGroup]="signinForm" class="signin-form">
            <h1>Sign in to MFE Demo</h1>
            <mat-form-field class="signin-form-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                <mat-error
                    *ngIf="signinForm.get('email')?.hasError('email') && !signinForm.get('email')?.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="signinForm.get('email')?.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="signin-form-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error *ngIf="signinForm.get('password')?.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
                <button mat-raised-button color="primary" (click)="signIn()"
                    [disabled]="loading || signinForm.invalid">Sign
                    In</button>
        </form>
    </div>
</div>