@import "../../../shadows.scss";

.header-outer-wrap {
    width: 100%;
    @include smth_shadow(2);
    position: sticky;
    background-color: rgb(35, 47, 62);
    z-index: 10;
    top: 0;
}

.header-wrap {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;

    div {
        display: flex;
        align-items: center;
        height: 100%;
    }
    img {
        height: 40px;
        border-radius: 8px;
        &:hover {
            cursor: pointer;
        }
    }

    span {
        margin-left: 1rem;
        font-size: 1.2rem;
    }
    button {
        margin-left: 1rem;
    }
}

@media (min-width: 1000px) {
    button:not(:last-of-type) {
        margin-right: 10px;
    }
}