<div class="max-width-container-wrap header-outer-wrap">
    <div class="max-width-container header-wrap">
        <div class="links">
            <img src="/assets/AWS_logo_RGB_WHT.png" (click)="router.navigate(['/'])" alt="AWS Logo">
            <span>Kubecon 2023 - AWS Booth</span>
        </div>
        <div>
            <a mat-icon-button (click)="router.navigate(['/'])" rel="noopener" matTooltip="Home">
                <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Home">
                    home
                </mat-icon>
            </a>
        </div>
    </div>
</div>