<div class="max-width-container-wrap">
    <div class="profile-wrap max-width-container">
        <span>Welcome</span>
        <h1>Manage all your stickers</h1>
        <div class="stickers-list-wrap">
            <mat-card class="sticker-card" *ngFor="let swag of swagsList">
                <mat-card-title>{{swag.name}}</mat-card-title>
                <mat-card-subtitle>ID: {{swag.id}}</mat-card-subtitle>
                <mat-card-content>
                   <h1> <p> Name: {{swag.name}} </p> </h1>
                    <p> Description: {{swag.description}} </p>
                </mat-card-content>
    
            </mat-card>
        </div>
    </div>
</div>