.profile-wrap {
    box-sizing: border-box;
    .stickers-list-wrap {
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: flex-start;
        .sticker-card {
            flex: 0 1 200px;
            margin: 1rem;
        }
    }
    form {
        padding: 1rem 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        .form-row {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            mat-form-field {
                margin: 0 1rem;
                flex: 1 1 200px;
            }
        }
    }
    .button-row {
        margin-top: 1rem;
        button {
            margin-right: 1rem;
        }
    }
}
.separator {
    margin: 2rem 0;
}
