.profile-wrap {
    box-sizing: border-box;
    .stickers-list-wrap {
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .sticker-card {
            flex: 0 0 100px;
            margin-left: 3rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
          
        }
    }
    form {
        padding: 1rem 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        .form-row {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            mat-form-field {
                margin: 0 1rem;
                flex: 1 1 200px;
            }
        }
    
    }
}
.separator {
    margin: 2rem 0;
}

.img-size {
width: 20rem;
height: 15rem;
object-fit: contain;

}